services:
  trainers-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50052:50052"
    environment:
      - MONGO_URI=mongodb://admin:password@mongodb:27017
      - PYTHONUNBUFFERED=1
    depends_on:
      - mongodb
    networks:
      - trainer-network

  mongodb:
    image: mongo:latest
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db
    networks:
      - trainer-network

networks:
  trainer-network:
    driver: bridge

volumes:
  mongo-data: